<app-nav></app-nav>
<div class="container">
  <form [formGroup]="editForm" (ngSubmit)="update()" class="loginForm">
    <h2 class="title">Edit Person</h2>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" formControlName="phoneNumber" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="Email" formControlName="email" required>
    </mat-form-field>
    <div *ngIf="error.length !==0" class="error">
      <span>{{error}}</span>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Edit</button>
    <a mat-flat-button routerLink="/people">Go back</a>
  </form>
</div>