.header{
    width: 90%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    width: 100%;
}

.title{
    text-align: center;
}

.addButton{
    width: 20%;
}

.icon{
    cursor: pointer;
    margin: 0 5px;
}