.container{
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table{
    text-align: center;
    width: 100%;
}

.mat-header-cell{
    text-align: center;
}


.title{
    text-align: center;
}

.addButton{
    width: 20%;
}

.icon{
    cursor: pointer;
    margin: 0 5px;
}

.error{
    text-align: center;
    font-weight: 600;
    color: red;
    margin: 5px;
}