<app-nav></app-nav>
<div class="container">
    <h1 class="title">Categories list</h1>
    <table mat-table [dataSource]="categories" class="mat-elevation-z8 table">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let category"> {{category.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let category"> {{category.description}} </td>
        </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let category">
                <mat-icon [routerLink]="['/categories/edit/', category.id]" class="icon">edit</mat-icon>
                <mat-icon (click)="delete(category.id)" class="icon">delete</mat-icon>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="error.length !==0" class="error">
        <span>{{error}}</span>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/categories/add']" class="addButton">Create new category</button>
</div>